<div class="container">
    <div class="my-5 text-center">
        <h1>Xin chào, Mình là Tiến.</h1>
        <p>Chào mừng bạn đã đến với blog của mình!</p>
    </div>

    <img
        src="/img/hero-image.webp"
        alt="person looking out through window"
        class="img-fluid rounded mx-auto d-block"
    />

    <section class="d-block w-75 mx-auto mt-5">
        <h2 class="articles__heading">Bài đăng mới nhất</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a
                    href="/post/detail"
                    class="d-flex justify-content-between link-underline link-underline-opacity-0"
                >
                    <span>Bài đăng mới</span>
                    <span>3 days</span>
                </a>
            </li>
            <li class="list-group-item">
                <a
                    href="/post/detail"
                    class="d-flex justify-content-between link-underline link-underline-opacity-0"
                >
                    <span>Bài đăng mới</span>
                    <span>3 days</span>
                </a>
            </li>
            <li class="list-group-item">
                <a
                    href="/post/detail"
                    class="d-flex justify-content-between link-underline link-underline-opacity-0"
                >
                    <span>Bài đăng mới</span>
                    <span>3 days</span>
                </a>
            </li>
            <li class="list-group-item">
                <a
                    href="/post/detail"
                    class="d-flex justify-content-between link-underline link-underline-opacity-0"
                >
                    <span>Bài đăng mới</span>
                    <span>3 days</span>
                </a>
            </li>
        </ul>
    </section>
</div>
